
main {
  background-color: #D3D3D3;
  padding: 20px 0;
}

.main__title {
  font-weight: bold;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

/* .status {
  text-align: center;
  color: red;
} */

.main__attendance {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 30px;
}

.timestamp button {
  padding: 65px 180px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.attendance__left {
  margin-right: 40px;
}