.main__inner {
  background-color: #D3D3D3;
  padding: 20px 0;
}

.main__title {
  font-weight: bold;
  text-align: center;
}

.status {
  text-align: center;
  color: red;
  margin-bottom: 30px;
}

.date {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
