main {
  background-color: #D3D3D3;
  padding: 20px 0;
}

.date {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.date form #prev,#next{
width: 40px;
height: 25px;
border-color: #0c7ce4;
font-size: 20px;
color: #0c7ce4
}
.date__today{
  font-size: x-large;
  margin: 0 40px 0;
}

.attandance_rest_list{
  margin: 0 auto;
}
tr th{
  padding: 0 40px;
}

/* area_navi */
.area_navi {
  display: flex;
  justify-content: space-around;
  margin: 0 0 32px;
}

.area_navi .prev a,
.area_navi .next a {
  background-color: #999;
  color: #FFFFFF;
  display: block;
  font-size: 2rem;
  list-style-type: none;
  border-radius: 0 8px 8px 0;
  padding: 12px 20px;
}

.area_navi .prev a[href],
.area_navi .next a[href] {
  background-color: #EC008D;
}

.area_navi .pagenum ol {}

.area_navi .pagenum ol li {
  display: inline-block;
  list-style-type: none;
}

.area_navi .pagenum ol li a {
  background-color: #5B9BD5;
  color: #FFFFFF;
  display: block;
  font-size: 2rem;
  list-style-type: none;
  /* border-radius: 8px; */
  padding: 12px 20px;
}

.area_navi .pagenum ol li a[href] {
  background-color: #EC008D;
}